:root {
  --grey: #707070;
  --white: #FFFFFF;
  --isabelline: #F0E7E7;
  --babypink: #E2B5BA;
  --darkpink: #CD7D90;
}

.App {
  text-align: left;
  font-family: 'Courier';
  max-width: 856px;
  margin: 0 auto;
  padding: 0 48px;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--isabelline);
  color: var(--babypink);
  text-align: center;
  font-size: 12px;
}

.home-name {
  color: var(--darkpink);
  font-size: 124px;
  padding: 36px 0 18px 0;
}

.home-description {
  color: var(--grey);
  font-size: 24px;
}

.contact-icon {
  background: var(--babypink);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 6px;
  margin: 18px 24px 18px 0;
  color: var(--white);
  font-size: 24px;
}
.contact-icon:hover {
  background: var(--white);
  color: var(--babypink);
  transition: 0.5s;
}

.nav {
  color: var(--grey);
  text-decoration: none;
  margin-left: 24px;
}
.nav-main {
  color: var(--grey);
  text-decoration: none;
  font-size: 18px;
}
.nav:hover, .nav-main:hover {
  color: var(--babypink);
  transition: 0.5s;
}

.page-header {
  color: var(--babypink);
  font-size: 50px;
  padding: 64px 0 32px 0;
}

.project-card {
  position: relative;
  background: var(--isabelline);
  border-style: solid;
  border-width: 28px 3px 3px 3px;
  border-color: var(--isabelline);
  border-radius: 10px;
}