:root {
  --pink: #FACEE1;
  --mint: #A2E8DB;
}

.App {
  text-align: left;
  font-family: "Courier New";
}

.name-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: var(--pink);
}

.topbar {
  width: 100%;
  margin: 20px;
  padding: 0;
  list-style: none;
}

.topbar-item-l {
  float: left;
}
.topbar-item-r {
  float: right;
}